* {
    box-sizing: border-box;
}

@font-face {
    font-family: verdemoderna;
    src: url(verdemoderna.woff);
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    color: rgb(50, 80, 80);
    background: rgb(255, 255, 255);
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 70%;
}

p {
    font-size: 1.2em;
    line-height: 2;
    margin: 0.75em 0;
}

h3 {
    margin: 2em 0 0 0;
    color: #2e484c;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
    font-weight: normal;
    text-transform: uppercase;
}

header {
    height: 250px;
    border-top: solid 10px rgba(19, 67, 71, 0.9);
    background-color: rgb(45, 99, 96);
    background-image: url(./images/contours@2x.png), url(./images/noise.png), url(./images/gridlines.png), url(./images/huntington.jpg);
    background-size: 50% auto, auto, auto, cover;
    background-attachment: fixed, fixed, fixed, scroll;
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    text-align: center;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

header img {
    align-self: center;
    opacity: 0.6;
    justify-self: center;
    width: 50px;
    height: 50px;
}

header h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: normal;
    margin: 0.4em 0 0.4em 0
}

header h2 {
    font-style: italic;
    font-weight: lighter;
    font-size: 1.3em;
    opacity: 0.6;
    margin-top: 0
}

header .title {
    margin-top: 2em;
}

header .banner {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 1.2em 0 1.2em 0;
    background-color: rgba(255, 255, 255, 0.2);
}

header .banner a {
    grid-column: 2;
    align-self: center;
    color:rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 1.4em;
    text-transform: uppercase;
    font-family: 'Julius Sans One', sans-serif;
}

header .banner span {
    grid-column: 3;
    font-size: 3em;
    opacity: 0.8;
    font-weight: bold;
}

main .intro {
    width: 80%;
    margin: 2.5em auto;
}

main .middle {
    background-attachment: scroll, scroll, fixed;
    background-color: rgba(138,188,159,0.5);
    background-image: url(./images/contours-opaque.png), url(./images/gridlines-opaque.png), url(./images/bamboo.png);
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
    width: 100%;
}

main .middle h3 {
    width: 80%;
    margin: 0 auto 0 auto;
}

main .middle p {
    width: 80%;
    margin: .75em auto;
}

main .participation {
    padding: 3em 0;
}

main .benefits {
    padding-bottom: 3em;
}

main .end {
    width: 80%;
    margin: 2.5em auto;
}

footer .credits p {
    background-attachment: fixed, fixed, fixed, scroll;
    background-image: url(./images/contours@2x.png), url(./images/gridlines.png), url(./images/noise.png), url(./images/koi.jpg);
    background-size: 50% auto, auto, auto, cover;
    background-position: 0 0, -5px -25px, 0 0, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    line-height: 2;
    padding: 1em 0.9em;
    font-style: italic;
    text-align: center;
    font-size: 1.4em;
    margin: 0;
    color: rgba(255, 255, 255, 0.4);
}

footer .credits a {
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
    text-decoration: none;
}

footer .icons {
    display: flex;
    justify-content: space-evenly;
    font-family: verdemoderna;
    font-size: 30px;
    background: #134347;
    margin: 0;
    padding: 25px 30px;
    text-align: center;
}

footer .icons a {
    color: #fff;
    opacity: .5;
    text-decoration: none;
    font-size: 32px;
}

aside {
    color: rgb(192, 202, 195);
    font-style: italic;
    background-color: rgba(229,237,232, 0.7)
}

aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside li {
    border-top: solid 1px #d9e3dc;
    font-size: 1.3em;
    padding: 1em 1.2em;
    color: rgb(192, 202, 195);
}

aside a{
    text-decoration: none;
    color: rgb(96, 116, 118);
    display: block;
    margin-bottom: 0.25em;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2em;
    font-style: normal;
}

aside .design {
    text-transform: uppercase;
}


aside .author {
    color: rgb(97, 104, 87);
    font-size: 0.9em;
    font-style: normal;
    display: inline;
    font-family: 'Libre Baskerville', sans-serif;
    
}


aside .links-div {
    overflow: hidden;
    background-color: rgba(138,188,159,0.6);
    background-image: url(./images/bamboo.png);
}

aside .links-div li {
    border-top: solid 1px #a0b9ad;
    font-style: normal;
}

#container {
    display: grid;
}

@media screen and (min-width: 375px) {
    header .title {
        font-size: 1.3em;
        margin-top: 1.5em;
    }

    header h1 {
        margin: 0.4em 0 0.2em 0;
    }

    footer .credits p {
        font-size: 2em;
    }

    aside li {
        text-align: center;
    }

    aside .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    aside .links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}

@media screen and (min-width: 768px) {
    header img {
        width: 80px;
        height: 80px;
        margin-right: 20px;
    }

    header .title {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 3em;
    }

    header .title h1 {
        font-size: 2.8em;
    }

    header .banner {
        padding: 1.7em 0
    }

    header .banner a {
        font-size: 1.6em;
    }

    footer .credits p {
        padding: 2em 4em;
    }

    footer .icons {
        justify-content: center;
        padding: 1.2em 0;
    }

    footer .icons a {
        margin: 0 24px;
        font-size: 48px;
    }

    aside li {
        padding: 1.3em 
    }
}

@media screen and (min-width: 1440px) {
    body {
        font-size: 90%;
    }
    #container {
        grid-template-columns: 2fr 1fr;
    }

    header { 
        grid-column: 1/-1;
        height: 310px;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    header .title {
        align-items: center;
        margin: 0;
    }

    header .title img {
        width: 162px;
        height: 162px;
    }

    header .banner span {
        align-self: center;
    }

    main {
        grid-column: 1/2;
        display: grid;
        grid-template-rows: 1fr 800px 1fr;
    }

    main .intro {
        grid-row: 1
    }

    main .middle {
        grid-row: 2;
    }

    main .end {
        grid-row: 3;
    }

    aside{ 
        grid-column: 2;
        grid-row: 2/5;
        display: grid;
        grid-template-rows: 1fr 800px 1fr;
    }

    aside ul {
        padding-left: 4em;
        padding-top: 4em;
    }

    aside li {
        text-align: left;
        width: 70%;
        padding-left: 0;
    }

    aside .aside-div {
        grid-row: 1;
    }

    aside .links-div {
        background-attachment: scroll, scroll, fixed;
        background-color: rgba(138,188,159,0.5);
        background-image: url(./images/contours-opaque.png), url(./images/gridlines-opaque.png), url(./images/bamboo.png);
        background-repeat: repeat, repeat, no-repeat;
        background-size: auto, auto, cover;
    }

    aside .projects {
        display: flex;
        flex-direction: column;
    }

    aside .links {
        display: flex;
        flex-direction: column;
    }

    footer{
        grid-column:1/-1;
    }
}

